<div class="favorites">
<div class="container">
<div class="col-sm-12">
  <h3>Избранное</h3>
  <div class="favorites-list">
    <div class="favorites-item">
      <div class="favorites-item__wrapper row">
        <div class="favorites-item__images col-sm-4">
          <img src="https://storage.vsemayki.ru/images/0/0/990/990022/previews/people_6_manhoodiefull_front_black_250.jpg" alt="">
          <!-- react-empty: 13 -->
        </div>
        <div class="favorites-item__info col-sm-5">
          <div class="favorites-item__name row">
            <div class="col-sm-12">
              <a href="/product/manhoodiefull/990022?color=black">Мужская толстовка 3D<br>
                <b>«CS GO»</b>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="favorites-item__sizes col-sm-6">
              <p>Размер:
                <a href="#"><small>Таблица размеров</small></a>
              </p>
              <select>
                <option value="xs_42-44">XS (44-46)</option>
                <option value="s_44-46">S (48)</option>
                <option value="m_46-48">M (50)</option>
                <option value="l_48-50">L (52)</option>
                <option value="xl_50-52">XL (54)</option>
                <option value="xxl_52-54">XXL (56-58)</option>
                <option value="xxxl_56">XXXL (60-62)</option>
                <option value="4xl_58">4XL (64-66)</option>
                <option value="5xl_60">5XL (68-70)</option>
                <option value="6xl_62">6XL (72-74)</option>
              </select>
            </div>
            <div class="favorites-item__colors col-sm-6">
              <p>Цвет:
                <small>черный</small>
              </p>
              <div class="favorites-item__colors-wrapper">
                <div class="color-box" title="белый" style="background-color: rgb(255, 255, 255);">
                  </div>
                <div class="color-box color-box--active" title="черный" style="background-color: rgb(39, 39, 41);">
                  </div>
                <div class="color-box" title="красный" style="background-color: rgb(164, 14, 15);"></div>
                <div class="color-box" title="синий" style="background-color: rgb(0, 0, 255);"></div>
                <div class="color-box" title="зеленый" style="background-color: rgb(0, 83, 31);"></div>
                <div class="color-box" title="серый" style="background-color: rgb(128, 128, 128);"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="favorites-item__cart col-sm-3">
          <span class="favorites-item__price">
            <span class="favorites-item__old-price">3075 &nbsp; руб.</span>
            <span class="favorites-item__price--sale">
              <strong>2310</strong> &nbsp;
              руб.
            </span>
          </span>
          <button>Добавить в&nbsp;корзину</button>
        </div>
        <span class="favorites-item__delete" title="Удалить из избранного"><i class="fa fa-times"></i>
        </span>
      </div>
    </div>
  </div>


</div>
</div>

</div>
