<div class="cecotal">
  <div class="container">

    <div class="text-center router">
      <h1>Одежда</h1>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 b-catalog-item">
        <div class="b-catalog_banner">
          <a routerLink="/allcatal">
            <picture>
              <img src="https://img.ltwebstatic.com/origin/images2_pi/2018/07/09/15311174982381968332_im_600x799.jpg" class="imgl1" alt="">
              <div class="b-catalog_title-section center  right">Женщинам</div>
            </picture>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 b-catalog-item">
        <div class="b-catalog_banner">
          <a routerLink="/allcatal" >
            <picture>
              <img src="https://images.asos-media.com/products/futbolka-so-sploshnym-geometricheskim-printom-only-sons/6371956-1-white?$XXL$&wid=513&fit=constrain" class="imgl2" alt="">
              <div class="b-catalog_title-section center sd  right">Мужчинам</div>
            </picture>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 b-catalog-item">
        <div class="b-catalog_banner">
          <a routerLink="/allcatal">
            <picture>
              <img src="/src/assets/img/kindr.jpg" class="imgl1" alt="">
              <div class="b-catalog_title-section center right">Детям</div>
            </picture>
          </a>
        </div>
      </div>
    </div>

    <div class="text-center router">
       <h1>Аксессуары</h1>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-3 b-catalog-item">
        <div class="b-catalog_banner">
          <a routerLink="/allcatal">
            <picture>
              <img src="https://www.respublica.ru/uploads/01/00/00/59/n7/medium_large_1fa05b5d8f39841a.jpg" class="imgl3" alt="">
              <div class="b-catalog_title-section  bottom">Обложки</div>
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 b-catalog-item">
        <div class="b-catalog_banner">
          <a routerLink="/allcatal">
            <picture>
              <img src="http://image-tb.vova.com/image/262_262/filler/1a/32/df457c805bd1453f788e66ed4bac1a32.jpg" alt="">
              <div class="b-catalog_title-section  bottom">Сумки и чехлы</div>
            </picture>

          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 b-catalog-item">
        <div class="b-catalog_banner">
          <a routerLink="/allcatal">
            <picture>
              <img src="http://d2bq6dn4rcskkx.cloudfront.net/image/262_262/filler/8e/27/3e7eb4270ea95aa5c30ab69bf93a8e27.jpg" alt="">
              <div class="b-catalog_title-section  bottom">Сувениры</div>
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 b-catalog-item">
        <div class="b-catalog_banner">
          <a routerLink="/allcatal">
            <picture>
              <img src="https://storage.vsemayki.ru/images/0/1/1196/1196260/previews/people_1_sign_front_white_250.jpg" class="imgl3" alt="">
              <div class="b-catalog_title-section  bottom">Брелки и значки</div>
            </picture>
          </a>
        </div>
      </div>
    </div>

    <div class="text-center router">
      <h1>Интерьер</h1>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-3 b-catalog-item">
        <div class="b-catalog_banner">
          <a routerLink="/allcatal">
            <picture>
              <img src="https://storage.vsemayki.ru/images/0/1/1254/1254046/previews/people_5_plaid_front_white_500.jpg" class="imgl3" alt="">
              <div class="b-catalog_title-section  bottom">Наклейки</div>
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 b-catalog-item">
        <div class="b-catalog_banner">
          <a routerLink="/allcatal">
            <picture>
              <img src="https://storage.vsemayki.ru/images/0/0/868/868939/previews/people_101_holst_rectangle_front_white_500.jpg" class="imgl3" alt="">
              <div class="b-catalog_title-section  bottom">Магниты</div>
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 b-catalog-item">
        <div class="b-catalog_banner">
          <a routerLink="/allcatal" >
            <picture>
              <img src="https://storage.vsemayki.ru/images/0/0/669/669481/previews/people_2_tablecloth_square_front_white_500.jpg" class="imgl3" alt="">
              <div class="b-catalog_title-section  bottom">Для дома</div>
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 b-catalog-item">
        <div class="b-catalog_banner">
          <a routerLink="/allcatal">
            <picture>
              <img src="https://storage.vsemayki.ru/images/0/0/748/748639/previews/people_1_shower_curtain_front_white_500.jpg" class="imgl3" alt="">
              <div class="b-catalog_title-section  bottom">Шторы</div>
            </picture>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
