<div class="lm">
<div class="container">
<div class="col-sub">
  <div id="refine-category" data-spm-protocol="i">
    <div id="refine-category-list" data-spm="3" data-widget-cid="widget-16">

      <dl class="category-list  ">
        <dt class="cate-title cate-less">
          Смежные категории
        </dt>
        <dd>
          <dl class="son-category">
            <dt class="sn-parent-title">
              <span class="current-cate">Женская одежда</span>
            </dt>
            <ul>
              <li>
                <a rel="follow" href="/"  dir="">Платья</a>
              </li>
              <li>
                <a rel="follow" href="/"  dir="">Блузки и рубашки</a>
              </li>
              <li>
                <a rel="follow" href="/"  dir="">Худи и толстовки</a>
              </li>
              <li>
                <a rel="follow" href="/"  dir="">Свитера</a>
              </li>
              <li>
                <a rel="follow" href="/"  dir="">Куртки и пальто</a>
              </li>
              <li>
                <a rel="follow" href="/" dir="">Штаны</a>
              </li>
              <li>
                <a rel="follow" href="/" dir="">Песочники</a>
              </li>
              <li>
                <a rel="follow" href="/" dir="">Топы и футболки</a>
              </li>
              <li>
                <a rel="follow" href="/" dir="">Комбинезоны</a>
              </li>
              <li>
                <a rel="follow" href="/"  dir="">Боди</a>
              </li>
              <li>
                <a rel="follow" href="/" dir="">Пиджаки и костюмы</a>
              </li>
            </ul>
          </dl>
        </dd>
      </dl>
      <div class="list-box-and-multiple-select attribute-hidden">
        <dt class="cate-title attr-less">Размер</dt>

        <dl class="attribute-item-multiple" bottom-border="1px">

          <dd class="list-box">
            <ul class="common-select clearfix one-row">
              <li>
                <a href="/" dir="">XXS</a>
              </li>
              <li>
                <a href="/" dir="">XS</a>
              </li>
              <li>
                <a href="/" dir="">S</a>
              </li>
              <li>
                <a href="/" dir="">M</a>
              </li>
              <li>
                <a href="/" dir="">L</a>
              </li>
              <li>
                <a href="/" dir="">XL</a>
              </li>
              <li>
                <a href="/" dir="">XXL</a>
              </li>
              <li>
                <a href="/" dir="">XXXL</a>
              </li>
              <li>
                <a href="/" dir="">4XL</a>
              </li>
              <li>
                <a href="/" dir="">Один размер</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="list-box-and-multiple-select attribute-hidden">
        <dt class="cate-title attr-less">Тип ткани</dt>

        <dl class="attribute-item-multiple" bottom-border="1px">

          <dd class="list-box">
            <ul class="common-select clearfix one-row">
              <li>
                <a href="/" dir="">Батик</a>
              </li>
              <li>
                <a href="/" dir="">Шифоновый</a>
              </li>
              <li>
                <a href="/" dir="">Джинсовый</a>
              </li>
              <li>
                <a href="/" dir="">Добби</a>
              </li>
              <li>
                <a href="/" dir="">Фланель</a>
              </li>
              <li>
                <a href="/" dir="">Флис</a>
              </li>
              <li>
                <a href="/" dir="">Трикотажный</a>
              </li>
              <li>
                <a href="/"  dir="">Оксфорд</a>
              </li>
              <li>
                <a href="/"  dir="">Поплин</a>
              </li>
              <li>
                <a href="/"  dir="">Атлас</a>
              </li>
              <li>
                <a href="/" dir="">Махровая ткань</a>
              </li>
              <li>
                <a href="/" dir="">Велюр</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>

</div>
</div>
</div>
