<div class="d9"></div> <!--каемка-->
<div class="as">
  <div class="footer">
    <div class="container">
      <div class="col-md-3 cust">
        <h4>ПОМОЩЬ</h4>
        <li><a href="#" data-toggle="modal" data-target="#exampleModalCenter3">Где мой заказ?</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="" data-toggle="modal" data-target="#exampleModalCenter5">Оплата</a></li>
        <li><a href="#" data-toggle="modal" data-target="#exampleModalCenter4">Доставка</a></li>
      </div>
      <div class="col-md-3 abt">
        <h4>О НАС</h4>
        <li><a href="#">Общая информация</a></li>
        <li><a href="#">Работа в "Геометрия"</a></li>
        <li><a href="#">Юредическая информация</a></li>
        <li><a href="contact.html">Контакты</a></li>
      </div>
      <div class="col-md-3 cust">
        <h4>ПАРТНЕРАМ</h4>
        <li><a href="register.html">Поставщикам</a></li>
        <li><a href="#">Инвесторам</a></li>
        <li><a href="#">Условия оказания услуг</a></li>
        <li><a href="buy.html">Платеж</a></li>
      </div>
      <div class="col-md-5 cust">
        <div class="our-left">
          <h4>НАШИ МАГАЗИНЫ</h4>
        </div>
        <div class="clearfix"> </div>
        <li><i class="add"> </i>ул. Ленина, 149, Кострома</li>
        <li><i class="phone"> </i>025-2839341</li>
        <li><a href="mailto:info@geometry.com"><i class="mail"> </i>info@geometry.com </a></li>
      </div>
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="aq">Авторские права © 2019 | Дипломная работа</div>
  </div>
<app-auxiliary-information></app-auxiliary-information>

