<div class="container">
<div class="d2"></div>
<nav >
  <ul>
    <li>
      <div class="cl">Одежда</div>
      <ul class="menu">
        <li>
          <a routerLink="/allcatal">
            <div>Мужчинам
            </div>
          </a>
        </li>
        <li><a routerLink="/allcatal">Женщинам</a></li>
        <li><a routerLink="/allcatal">Детям</a></li>
      </ul>
    </li>

    <li><div class="cl">Аксессуары</div>
      <ul>
        <li><a routerLink="/allcatal">Обложки</a></li>
        <li><a routerLink="/allcatal">Сумки и чехлы</a></li>
        <li><a routerLink="/allcatal">Сувериры</a></li>
        <li><a routerLink="/allcatal">Брелки и значки</a></li>
      </ul>
    </li>
    <li><div class="cl">Посуда</div>
      <ul>
        <li><a routerLink="/allcatal">Кружки</a></li>
        <li><a routerLink="/allcatal">Фляжки</a></li>
        <li><a routerLink="/allcatal">Бутылки</a></li>
      </ul>
    </li>
    <li><div class="cl">Чехлы</div>
      <ul>
        <li><a routerLink="/allcatal">Apple iPhone</a></li>
        <li><a routerLink="/allcatal">Samsung Galaxy</a></li>
        <!--<li><a routerLink="/">Samsung Galaxy</a></li>-->
      </ul>
    </li>
    <li><div class="cl">Интерьер</div>
      <ul>
        <li><a routerLink="/allcatal">Магниты</a></li>
        <li><a routerLink="/allcatal">Наклейки</a></li>
        <li><a routerLink="/allcatal">Для дома</a></li>
        <li><a routerLink="/allcatal">Шторы</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div class="d2"></div>
<div class="d5"></div>
</div>
