<!--<div class="der1">-->
  <div class="special">
    <div class="container">
      <div class="text-center router">
        <h1>Женская одеджа</h1>
      </div>
      <div class="specia-top">
        <ul class="grid_2">
          <li>
            <img src="/assets/img/11.jpg" class="img-responsive" alt="">
            <div class="special-info grid_1 simpleCart_shelfItem">
              <h5>Lorem ipsum dolor</h5>
              <div class="item_add"><span class="item_price"><h6>2178 руб.</h6></span></div>
              <div class="item_add"><span class="item_price"><a routerLink="/tovar">Подробнее</a></span></div>

            </div>

          </li>
          <li>
            <img src="/assets/img/11.jpg" class="img-responsive" alt="">
            <div class="special-info grid_1 simpleCart_shelfItem">
              <h5>Consectetur adipis</h5>
              <div class="item_add"><span class="item_price"><h6>1979 руб.</h6></span></div>
              <div class="item_add"><span class="item_price"><a routerLink="/tovar">Подробнее</a></span></div>
            </div>
          </li>
          <li>
            <img src="/assets/img/11.jpg" class="img-responsive" alt="">
            <div class="special-info grid_1 simpleCart_shelfItem">
              <h5>Commodo consequat</h5>
              <div class="item_add"><span class="item_price"><h6>2390 руб.</h6></span></div>
              <div class="item_add"><span class="item_price"><a routerLink="/tovar">Подробнее</a></span></div>
            </div>
          </li>
          <li>
            <img src="/assets/img/11.jpg" class="img-responsive" alt="">
            <div class="special-info grid_1 simpleCart_shelfItem">
              <h5>Voluptate velit</h5>
              <div class="item_add"><span class="item_price"><h6>ONLY $37.00</h6></span></div>
              <div class="item_add"><span class="item_price"><a routerLink="/tovar">Подробнее</a></span></div>
            </div>
          </li>
          <div class="clearfix">
          </div>
        </ul>
      </div>



    </div>
  </div>
<!--</div>-->
